name: Mark issues and pull requests as stale
on:
  schedule:
    - cron: "30 * * * *"
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - name: Mark issues and pull requests as stale
        uses: keisaacson/stale@v1.2.1
        with:
          repo-token: ${{ secrets.STALE_TOKEN }}
          project-id: 4053923
          stale-issue-message: 'Test: stale issue message'
          stale-issue-label: 'no-issue-activity'
          days-before-stale: 1
          exempt-issue-label: 'onboarding'
